
div#bread {
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
}

div#logo a{
	margin-left: 10px;
}

div#childu
{
	display: inline-block;
	margin-top: 150px;
	margin-left: 30px;
	margin-right: 30px;
}

div#rusk
{
	text-align: center;
}

div#parentu
{
	display:flex;
  justify-content:space-between;
}
/* For footer */
html, body
{
	height: 100%;
}

#wrap
{
	min-height: 100%;
}

.main
{
	overflow:auto;
	padding-bottom: 150px;
}  /* must be same height as the footer */

#footer
{
	position: relative;
	margin-top: -20px; /* negative value of footer height */
	height: 20px;
	clear:both;
}
