div#bread {
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
}

div#logo a{
	margin-left: 10px;
}



div#childu
{
	display: inline-block;
	margin-top: 200px;
	margin-left: auto;
	width: auto;
}

div#botchildu
{
	display: inline-block;
	margin-left: auto;
	margin-top: 25px;
}

div#rusk
{
	text-align: center;
}

div#parentu    
{
	display:flex;
	justify-content: space-between;

}

div#select
{
	height: 225px;
	width: 400px;
	margin-left: auto;
	display: inline-block;
	position:relative;
}

/*for index.html due to clash with home.html*/

div#parentu_main {
    display: flex;
    justify-content: space-between;
}

div#parentu_head {
    display: flex;
    justify-content: space-between;
}



div#childu_main {
    display: inline-block;
    margin-left: auto;
    margin-top: 150px; 
} 


div#passform
{
   position: relative;
   position: absolute;               
   top: 50%;                         
   /* transform: translate(0, -50%); */
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
}

#upl
{
	margin-right: 15px;
}

a.mdl-js-ripple-effect {
  display: inline-block;//Important, without that the button won't appear correctly
  position: relative; //without it, ripple will be offset

  width: 50px; //Same as height, for a perfect circle
  height: 50px; // Works with % values too
  line-height: 50px; //same as button height, for the text to be centered horizontally
  text-align: center; //Center horizontally 
}

/* components for DP input */

.mdl-button--file {
  input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
  }
}

.mdl-textfield--file {
  .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
  }
  .mdl-button--file {
    right: 0;
  }
}