
div#bread {
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
}

div#logo a{
	margin-left: 10px;
}

div#childu
{
	display: inline-block;
	margin-top: 150px;
	margin-left: auto;
}

div#rusk
{
	text-align: center;
}

div#parentu
{
	display:flex;
	justify-content:space-between;

}

div#passform
{
   position: relative;
   position: absolute;               
   top: 50%;                         
   /* transform: translate(0, -50%); */
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
}

